snippet init "InitializeArticle" b
\documentclass[a4paper]{article}


\usepackage{amsmath, amssymb}
\usepackage{hyperref}
\usepackage{graphicx, caption}
\captionsetup{textfont=small}
\captionsetup{width=0.7\linewidth}
\graphicspath{{img/}}

%kein zeileneinschub bei neuer zeile
\setlength\parindent{0pt}

\usepackage[authoryear]{natbib} % zitate im text sind autor (jahr), bzw. (autor, jahr)
\usepackage[english]{babel} 
\bibpunct[:~]{(}{)}{;}{a}{,}{,~} 
$0
endsnippet
